.titleDiv {
  display: flex;
  justify-content: center;
  padding: 24px 8px 0 8px;
  height: 24px;
}

.title {
  color: white;
  text-align: center;
  margin: 0;
  font-family: Montserrat;
  font-weight: 300;
  position: absolute;
  z-index: 9999;
  font-size: calc(1rem + 1vw);
}

.container {
  z-index: 9999;
  position: absolute;
  height: calc(100% - 48px - 1.5em - 32px);
  margin: 1.5em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list {
  margin-top: 1.5em;
  padding: 0;
  column-gap: 1.5em;
  font-size: 0.85em;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.list::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
  .list {
    column-count: 2;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .list {
    column-count: 3;
  }
}
@media only screen and (min-width: 1441px) {
  .list {
    column-count: 4;
  }
  .titleDiv {
    margin-bottom: 16px;
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.button {
  background-color: #ffffff;
  border-radius: 17px;
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
  font-family: Courier New;
  font-size: 16px;
  padding: 4px 8px;
  text-decoration: none;
  max-width: 10vw;
  min-width: 100px;
}
.button:hover {
  background-color: #d4d4d4;
}
.button:active {
  position: relative;
  top: 1px;
}
