.centralized {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.earth {
  z-index: 9999;
}

.loading {
  color: #ffff;
  line-height: 100px;
  font-size: 25px;
  z-index: 9999;
  font-family: "Courier New", Courier, monospace;
}
.letter {
  animation: blur 5s linear infinite;
}

.letter:nth-child(2) {
  animation-delay: 0.1s;
}
.letter:nth-child(3) {
  animation-delay: 0.2s;
}
.letter:nth-child(4) {
  animation-delay: 0.3s;
}
.letter:nth-child(5) {
  animation-delay: 0.4s;
}
.letter:nth-child(6) {
  animation-delay: 0.5s;
}
.letter:nth-child(7) {
  animation-delay: 0.6s;
}
.letter:nth-child(8) {
  animation-delay: 0.8s;
}
.letter:nth-child(9) {
  animation-delay: 1s;
}
.letter:nth-child(10) {
  animation-delay: 1.2s;
}
.letter:nth-child(11) {
  animation-delay: 1.4s;
}
.letter:nth-child(12) {
  animation-delay: 1.6s;
}
.letter:nth-child(13) {
  animation-delay: 1.8s;
}

@keyframes blur {
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px #fff;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px #fff;
  }
  80% {
    text-shadow: 0 0 0px #fff;
  }
  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px #fff;
  }
  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 0;
  }
}
