.titleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px 4px 4px 4px;
}

.icon {
  color: #fff;
  z-index: 9999;
  margin-left: 8px;
}

.title {
  color: white;
  text-align: center;
  margin: 0;
  font-family: Montserrat;
  font-weight: 300;
  z-index: 9999;
}

.text {
  text-align: center;
  margin-top: 24px;
}

.date {
  text-align: center;
  margin-top: 12px;
}

.textExplanation {
  text-align: justify;
  margin-top: 12px;
}

.container {
  height: calc(100vh - 107px - 24px - 24px);
  overflow-y: scroll;
  position: relative;
}

.item {
  z-index: 9999;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5em;
  transition: 1s ease all;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 24px;
}

.item::-webkit-scrollbar {
  display: none;
}

.item img {
  height: 100%;
  width: 100%;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.label {
  margin-top: 3px;
  font-size: xx-small;
  color: #ccc;
  justify-self: center;
}

@media only screen and (max-width: 335px) {
  .container {
    margin-right: -1px;
  }
}

@media only screen and (min-width: 336px) and (max-width: 1024px) {
  .imgContainer {
    height: auto;
  }
}

@media only screen and (min-width: 336px) and (max-width: 1439px) {
  .img {
    max-height: 50vh;
  }
  .container {
    margin-right: -1px;
  }
}

@media only screen and (min-width: 1440px) {
  .item {
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
  .imgContainer {
    margin: 0;
    display: grid;
    grid-template-rows: 99%;
    align-items: unset;
  }
  .texts {
    flex-direction: column;
    width: 30vw;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-right: -24px;
  }
  .textExplanation {
    margin: 12px 0 0 24px;
  }
}
